body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
  padding: 1em;
  justify-self: center;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  border: 4px solid #000;
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 100%;
}

.card__header {
  padding: 1em;
}

.card__title {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
}

.card__content {
  padding: 1em 1em 0 1em;
}

.card__description {
  margin: 0 0 1em;
  font-size: 1em;
}

.card__meta {
  background-color: lightgray;
  padding: 0.75em;
  border-radius: 4px;
  font-size: 0.75em;
  margin-bottom: 1em;
  width: fit-content;
}

.card__meta--label {
  font-weight: bold;
}

.card__footer {
  padding: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
}

.card__button {
  text-align: center;
  text-decoration: none;
  background-color: blue;
  color: #fff;
  padding: 0.75em 1em;
  border-radius: 4px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.card__button:hover,
.card__button:focus {
  background-color: darkblue;
  color: lightcyan;
  outline: none;
}

.card__link {
  text-decoration: none;
  text-align: center;
  color: darkblue;
  padding: 0.75em 1em;
  transition: 0.3s ease-in-out;
}

.card__link:hover,
.card__link:focus {
  color: blue;
  background-color: lightgray;
  padding: 0.75em 1em;
  border-radius: 4px; 
  outline: none;
}

/* Tablet */
@media (min-width: 640px) {
  .card {
    max-width: 700px;
    display: flex;
    flex-direction: column;
  }

  .card__title {
    font-size: 1.75em;
  }

  .card__image {
    object-fit: cover;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .card {
    max-width: 900px;
    display: flex;
    flex-direction: column;
  }

  .card__title {
    font-size: 2em;
  }

  .card__footer {
    flex-direction: row;
    align-items: center;
  }

  .card__button {
    flex: 0 0 auto;
  }

  .card__link {
    margin-left: 1em;
  }
}